.place__title {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 460px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
}
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
}
}