.photo-grid {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px; 
    padding: 92px 48px 0;
    margin: 0;
}

@media screen and (max-width: 1050px) {
    .photo-grid {
        width: calc(100% - 48px);
        padding: 92px 24px 0; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - 48px);
        padding: 88px 24px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 590px) {
    .photo-grid {
        width: calc(100% - 32px);
        padding: 64px 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: calc(100% - 32px);
        padding: 64px 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}