.place__paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
}
}

@media screen and (max-width: 800px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
}
}