.lead {
  display: flex;
  flex-direction: column;
  width: calc(100% - 148px * 2);
  margin: auto;
  align-items: center;
  padding: 56px 148px;
}

@media screen and (max-width: 1050px) {
  .lead {
    width: calc(100% - 48px * 2);
    padding: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0 0;
  }
}

