.lead {
  display: flex;
  flex-direction: column;
  width: calc(100% - 148px * 2);
  margin: 0;
  align-items: center;
  padding: 56px 148px 0 148px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1280px) {
  .lead {
    width: calc(100% - 48px * 2);
    padding: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    padding: 48px 0 0 0;
  }
}
