.header {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1050px) {
  .header {
    width: calc(100% - 48px);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 48px);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: auto;
    width: calc(100% - 32px);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
