.lead__title {
  max-width: 720px;
  width: 100%;
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 720px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto 0 auto;
  }
}
