.footer__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 18px;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    row-gap: 32px;
    flex-direction: column;
  }
}

