.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    column-gap: 18px;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .footer__links {
        display: block;
}
}