.lead__image {
  width: 100%;
  max-width: 984px;
  object-fit: cover;
  margin: 64px auto 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 100%;
    max-width: 928px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    margin: 40px auto 0;
  }
}
