.lead__subtitle {
    max-width: 640px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 0;
}


@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 0;
    }
}