.cover__overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1184px;
  height: 740px;
  background-image: url("../../../images/cover/__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.cover__overlay::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1050px) {
  .cover__overlay {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    max-height: 200px;
  }
}
