.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  url(../../../images/cover/__background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
} 