.cover__title {
  max-width: 560px;
  font-family: "Inter", "Arial", "sans-serif";
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
