.place {
  margin: 0;
  padding-top: 80px;
  display: grid;
  grid-template-columns: minmax(440px, 460px) 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  justify-content: flex-start;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(320px, 440px) minmax(352px, 456px);
    grid-column-gap: 28px;
    padding-top: 72px;

  }
}

@media screen and (max-width: 767px) {
  .place {
    grid: 600px auto / 1fr;
    grid-template-rows: 1fr;
    padding-left: 0;
    padding-top: 50px;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid: 600px auto / 1fr;
    grid-template-rows: 1fr;
    padding-left: 0;
    padding-top: 50px;
    grid-row-gap: 32px;
  }
}
